html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(#222222, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  color: white;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
}
a{
  color: white;
  text-align: center;

  transition: font-size 0.3s ease, color 0.3s ease;
  will-change: font-size;
  will-change: color;
}
p{
  color: white;
  text-align: center;
}
.seperator-symbol {
  display: inline;
  font-size: 10px;
}
.image-container {
  width: 100%;
  max-width: auto;
}

.responsive-img {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  
  width: 25%;
  min-width: 25%;
  max-width: 100%;
  height: auto;
}

.center-container {
  text-align: center;
}

.gallery-group {
  height: auto;
  text-align: center;
}

.gallery_content {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  height: auto;
  border-radius: 25px;
  
  /* Outline */
  outline-style: solid;
  /* Old Color: #fc6b03 */
  outline-color: #ffffff;
  outline-width: 1px;

  transition: width 0.3s ease, border-radius 0.3s ease, outline-width 0.1s ease;
  will-change: width;
  will-change: height;
  will-change: border-radius;
  will-change: outline-width;
}

.gallery_content:hover {
  width: calc(300px + 5%);
  outline-width: 0px;
  border-radius: 0px;
}

.gallery_content:active {
  width: calc(300px + 25%);
  border-radius: 0px;
}

.unimportant-text {
  opacity: 50%;
}

#gallery-flagship-previews {
  white-space: nowrap;
  overflow: auto;
  margin: 0 auto;
}

#gallery-section-2 {
  white-space: nowrap;
  overflow: auto;
}

#gallery-section-3 {
  white-space: nowrap;
  overflow: auto;
}

#gallery-section-4 {
  white-space: nowrap;
  overflow: auto;
}

a:hover {
  font-size: calc(100% + 25%);
}

#youtube-button:hover {
  color: red;
}

#game-jolt-button:hover {
  color: green;
}