html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#youtube-svg {
  width: 100%;
  min-width: 50px;
  max-width: 100px;
}

#game-jolt-svg {
  width: 100%;
  min-width: 300px;
  max-width: 600px;
}

#linktree-svg {
  width: 100%;
  min-width: 400px;
  max-width: 800px;
}

body{
  background: linear-gradient(#222222, #000000);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1{
  color: white;
  text-align: center;
}
h2{
  color: white;
  text-align: center;
}
a{
  color: white;
  text-align: center;
}
p{
  color: white;
  text-align: center;
}
.seperator-symbol {
  display: inline;
  font-size: 10px;
}
.image-container {
  width: 100%;
  max-height: auto;
}

.responsive-img {
  display: block;
  margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  
  width: 100%;
  min-width: 50%;
  max-width: 50%;
  height: auto;
}

@media (min-width: 1200px) {
  .responsive-img {
    min-width: 30%;
    max-width: 30%;
  }
}

@media (pointer: coarse) {
  #interaction-tip {
    font-size: 0%;
    height: 0%;
    width: 0%;
  }
}

.link-container {
  text-align: center;
}

.gallery-group {
  height: auto;
  text-align: center;
}

.gallery-content {
  display: inline-block;
  vertical-align: middle;
  width: 10%;
  min-width: 75px;
  max-width: 1000px;
  height: auto;
  border-radius: 25px;

  -webkit-touch-callout: none;

  transition: width 0.3s ease, border-radius 0.3s ease;
  will-change: width, height, border-radius, font-size;
}

.no-border-radius {
  border-radius: 0px;
}

.gallery-content:hover {
  width: calc(10% + 5%);
  outline-width: 0px;
  border-radius: 0px;
}

.gallery-content:active {
  width: calc(10% + 25%);
  border-radius: 0px;
}

.unimportant-text {
  opacity: 50%;
}

#gallery-flagship-previews {
  white-space: nowrap;
  overflow: auto;
  margin: 0 auto;
}

#gallery-section-2 {
  white-space: nowrap;
  overflow: auto;
}

#gallery-section-3 {
  white-space: nowrap;
  overflow: auto;
}

#gallery-section-4 {
  white-space: nowrap;
  overflow: auto;
}

.link-button {
  display: inline-block;
}